<%= form_with(model: @profile, url: url ,local: true) do |form| %>
 
  <% if @profile.errors.any? %>
  <div id="error_explanation">
      <ul>
          <% @profile.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
      </ul>
  </div>
  <% end %>

  <div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :country %>
  <%= form.select(:country, [ ['Australia'], ['UK'], ['USA'], ['China'], ['Japan'],['Melbourne'], ['Germany'], ['Other'] ].sort )%>
</div>
<div>
  <%= form.label :phone_number %>
  <%= form.number_field :phone_number, min: 0 %>
</div>
<div>
<div>
  <%= form.label :picture %> <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg' %>
</div>



  </div>

  <div>
      <%= form.submit %>
  </div>
<% end %>

