<%= form_with(model: @profiles, url: profiles_path ,local: true) do |form| %>
 
  <% if @profiles.errors.any? %>
  <div id="error_explanation">
      <ul>
          <% listing.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
      </ul>
  </div>
  <% end %>

  <div>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div>
  <%= form.label :address %>
  <%= form.text_area :address %>
</div>
<div>
  <%= form.label :phone_number %>
  <%= form.number_field :phone_number, min: 0 %>
</div>
<div>
<div>
  <%= form.label :picture %> <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg' %>
</div>

  </div>

  <div>
      <%= form.submit %>
  </div>
<% end %>

