<h1>New Profile</h1>

<p>
<strong>name:</strong>
<%= @profile.name %> 
</p>

<p>
<strong>address:</strong>
<%= @profile.country %> 
</p>


<p>
<strong>phone number:</strong>
<%= @profile.phone_number %> 
</p>

<%= image_tag @profile.picture.service_url if @profile.picture.attached?  %>

   
<td><%= link_to "index", videogames_path %></td>
<%= link_to "Edit", edit_listing_path(current_user.profile) %>
