<p>
<strong>name:</strong>
<%= @profiles.name %> 
</p>


<p>
<strong>address:</strong>
<%= @profiles.address %> 
</p>


<p>
<strong>phone number:</strong>
<%= @profiles.phone_number %> 
</p>


<p>
<strong>email:</strong>
<%= @profiles.email %> 
</p>




<%= link_to "Back", videogames_path %>
