<h1>New Profile</h1>

<p>
<strong>name:</strong>
<%= @profiles.name %> 
</p>

<p>
<strong>address:</strong>
<%= @profiles.address %> 
</p>


<p>
<strong>phone number:</strong>
<%= @profiles.phone_number %> 
</p>

<%= image_tag @profiles.picture.service_url if @profiles.picture.attached? %>


<td><%= link_to "Home", root_path %></td>
<%= link_to "Edit", edit_listing_path(current_user.profile) %>
