<div class="container.profile">


<div class="card">
<%= image_tag @profile.picture.service_url, :class => "style_image" if @profile.picture.attached?  %>
<h1><strong>name:</strong>
<%= @profile.name %> </h1>
<p><strong>name:</strong>
<%= @profile.name %> 
</p>
<p>
<strong>address:</strong>
<%= @profile.country %> 
</p>
<p>
<strong>phone number:</strong>
<%= @profile.phone_number %> 
</p>
<p>
<strong>email address:</strong>
<%= @profile.email %> 
</p>
<td><%= link_to "Index", videogames_path %></td>
<%= link_to "Edit", edit_listing_path(current_user.profile) %>
</div>
</div>

