<%= form_with(model: @videogame, local: true) do |form| %>
 
    <% if @videogame.errors.any? %>
    <div id="error_explanation">
        <ul>
            <% @videogame.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>
    <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<div>
    <%= form.label :system_req %>
    <%= form.select(:system_req, [ ['Low'], ['Medium'], ['High'] ].sort )%>
</div>
<div>
    <%= form.label :release_date %>
    <%= form.date_field :release_date, min: 0 %>
</div>
<div>
    <%= form.label :average_rating %>
    <%= form.select(:average_rating, [ (1),(2),(3),(4),(5) ] .sort )%>
</div>
<div>
    <%= form.label :genre_id %>
    <%= form.select :genre_id, Genre.all.map { |g| [g.genre_description, g.id] }, :prompt => "Select Genre" %>
</div>
<div>
    <%= form.label :developer_id %>
   
    <%= form.select :developer_id, Developer.all.map{ |d| [d.developer_name, d.id] }, :prompt => "Select Developer" %>
</div>
<div>
    <%= form.label :description %>
    <%= form.text_area :description, min: 0 %>
</div>

<div>
  <%= form.label :picture %> <%= form.file_field :picture, accept:
  'image/png,image/gif,image/jpeg,image/jpg' %>
</div>
  
    <div>
        <%= form.submit %>
    </div>
  <% end %>
  
  
