<body>
<div class="container.index">
<h1>LEVEL</h1>
<strong><%=current_user.email%></strong>
<button class="button"><%=  link_to "Add game", new_videogame_path(@videogame) %></button> 
<button class="button"><%= link_to "View Profile", profile_path(current_user)%></button> 



<h2>Game List</h2>

<table>
  
<% @videogames.each do |videogame| %>
  <tr>
    <th>Name</th>
    <th>System Requirements</th>
    <th>Release Date</th>
    <th>Average rating</th>
    <th>Developer</th>
    <th>Genre</th>
    <th>Image</th>
    <th>Play</th>
    
     
    <th></th>
    <th></th>
  </tr>
  </tr>

  <td><%= videogame.name %></td>
  <td><%= videogame.system_req %></td>
  <td><%= videogame.release_date %></td>
  <td><%= videogame.average_rating %></td>
  <td><%= videogame.developer.developer_name %></td>
  <td><%= videogame.genre.genre_description %></td>
  <td><%= image_tag videogame.picture.service_url, :class => "style_image_index" if videogame.picture.attached?  %></td>
  <td><%= link_to "Play", videogame_path( videogame ) %></td>
  

 
  <%-#   this is my verification of my current_user.profile privileges. Through the do loop I evaluate first whether the current_user.profile has a an entry in the join table. Secondly I evaluate whether they are an uploader of the video game. If they are, they are allowed delete and edit privileges. -%>
    
  
  <% videogame.profile_videogames.each do |p| %>
    <% if p.profile_id == current_user.profile.id %>
      <% if p.role == "uploader" %>
      <td><%= link_to "Edit", edit_videogame_path( videogame ) %></td>
       <td><%= link_to "Destroy", videogame_path( videogame ), method: :delete, data: { confirm: 'Are you really sure?' } %></td>
       <% end %>
      <% end %>
  <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</table>

</body>
</html>
</div>