<h1>LEVEL</h1>


<table style="width:100%">
<tr>
  <th>Name</th>
  <th>System Requirements</th>
  <th>Release Date </th>
  <th>Average rating</th>
  <th>Developer </th>
  <th>Genre</th>
</tr>
<% @videogames.each do |videogame| %>
  <div>
  <td><%= videogame.name %></td>
  <td><%= videogame.system_req %></td>
  <td><%= videogame.release_date %></td>
  <td><%= videogame.average_rating %></td>
  <td><%= videogame.developer.developer_name %></td>
  <td><%= videogame.genre.genre_description %></td>
  <td><%= link_to "Show", videogame_path( videogame ) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</div>

