<h1>LEVEL</h1>
<strong><%=current_user.email%></strong>
<td><%= link_to "Add game", new_videogame_path(@videogame) %></td>
<%= link_to "View Profile", profile_path(current_user)%>  


<h2>Level</h2>

<table>
  <tr>
    <th>Name</th>
    <th>System Requirements</th>
    <th>Release Date</th>
    <th>Average rating</th>
    <th>Developer</th>
    <th>Genre</th>
    <th>Image</th>
    <th>Play</th>
    <th>Edit</th>
    <th>Delete</th>
    
    
  </tr>
  </tr>
<% @videogames.each do |videogame| %>
 
  <td><%= videogame.name %></td>
  <td><%= videogame.system_req %></td>
  <td><%= videogame.release_date %></td>
  <td><%= videogame.average_rating %></td>
  <td><%= videogame.developer.developer_name %></td>
  <td><%= videogame.genre.genre_description %></td>
  <td><%= image_tag videogame.picture.service_url, :class => "style_image" if videogame.picture.attached?  %></td>
  <td><%= link_to "Play", videogame_path( videogame ) %></td>
  <% videogame.profile_videogames.each do |p| %>
    <% if p.profile_id == current_user.profile.id %>
      <% if p.role == "uploader" %>
       <td><%= link_to "Edit", edit_videogame_path( videogame ) %></td>
       <td><%= link_to "Destroy", videogame_path( videogame ), method: :delete, data: { confirm: 'Are you really sure?' } %></td>
       <% end %>
      <% end %>
  <% end %>

      </tr>
      <% end %>
    </tbody>
  </table>
  <br>
</table>

</body>
</html>