<h1>LEVEL</h1>

<% @videogames.each do |videogame| %>
  <div>
      <%= videogame.name %>
      <%= videogame.system_req %>
      <%= videogame.release_date %>
      <%= videogame.average_rating %>
      <%= videogame.developer.developer_name %>
      <%= videogame.genre.genre_description %>

      <%= link_to "Show", videogame_path( videogame ) %>

</div>
<% end %>  


<table style="width:100%">
<tr>
  <th>Name</th>
  <th>System Requirements</th>
  <th>Release Date </th>
  <th>Average rating</th>
  <th>Developer </th>
  <th>Genre</th>
</tr>
<tr>
  <td>Jill</td>
  <td>Smith</td>
  <td>50</td>
</tr>
<tr>
  <td>Eve</td>
  <td>Jackson</td>
  <td>94</td>
</tr>
</table> 