<p>
<strong>name:</strong>
<%= @videogames.name %> 
</p>


<p>
<strong>system req:</strong>
<%= @videogames.system_req %> 
</p>


<p>
<strong>release date:</strong>
<%= @videogames.release_date %> 
</p>


<p>
<strong>average rating:</strong>
<%= @videogames.average_rating %> 
</p>


<p>
<strong>developer:</strong>
<%= @videogames.developer.developer_name %> 
</p>

<p>
<strong>genre:</strong>
<%= @videogames.genre.genre_description%> 
</p>



<%= link_to "Back", videogames_path %>
