<p>
<strong>name:</strong>
<%= @videogames.name %> 
</p>

<p>
<strong>developer:</strong> 
<%= @videogames.developer %>
</p>

<p>
<strong>system req:</strong>
<%= @videogames.system_req %> 
</p>


<p>
<strong>release date:</strong>
<%= @videogames.release_date %> 
</p>


<p>
<strong>average rating:</strong>
<%= @videogames.average_rating %> 
</p>


<%= link_to "Back", videogames_path %>